/*

## Colors

### Primary

- Purple: hsl(259, 100%, 65%)
- Light red: hsl(0, 100%, 67%)

### Neutral

- White: hsl(0, 0%, 100%)
- Off white: hsl(0, 0%, 94%)
- Light grey: hsl(0, 0%, 86%)
- Smokey grey: hsl(0, 1%, 44%)
- Off black: hsl(0, 0%, 8%)




*/

@media screen and (min-width: 376px) {

    main {

        width: 840px;


    }

}
@media screen and (max-width: 375px) {
    

    main {
        text-align: center;
        width: 343px
    }
    p{
        font-size: 24px;
    }
    input{
        font-size: 24px;
    }

}


.attribution {
    font-size: 11px;

    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;

}


body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    background-color: hsl(0, 0%, 100%);
    border-bottom-right-radius: 50px;
    margin: 5% auto;
    padding: 5%;
    border-radius: 2rem 2rem 10rem 2rem;


}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 86%); /* Light grey border */
}


#dates {
    display: flex;
    margin-bottom: 1rem;

}

p {
    font-size: 32px;
}



#dates label {
    margin-right: 1rem;
    border-color: hsl(0, 0%, 86%);
    color: hsl(0, 1%, 44%);
}

input {
    font-size: 32px;
}

#calc-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
    background-color: hsl(259, 100%, 65%);
    color: hsl(0, 0%, 100%); /* White text */
    cursor: pointer;
    
}

#calc-btn:hover {
    background-color: hsl(259, 100%, 55%);
    cursor: pointer;
}

#calc-btn img {
    padding: 1rem;


}